{% extends "login_layout.html.jinaj2" %}

{% block title %}{%trans%}Forgot Password{%endtrans%}{% endblock %}

{% block page_content %}
{% from 'macros/form_errors.jinja2' import form_errors as form_errors %}

<section id="page-content">
    <section class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-3 col-md-6 text-center">
                    <h3 class="animation fadeInUp">{%trans%}Forgot Password{%endtrans%}</h3>
                    <form action="" method="POST" class="form" role="form">
                        {{ form.hidden_tag() }}

                        {# Email field #}
                        <div class="form-group">
                            <label>
                                <div class="input-group {% if form.email.errors %}has-error{% endif %}">
                                    <div class="input-group-addon"><i class="de-icon-mail"></i></div>
                                    {{ form.email(class_='form-control ajax-input', placeholder=form.email.label.text,
                                    tabindex=10) }}
                                </div>
                            </label>
                            {{ form_errors(form.email) }}
                        </div>

                        {# Submit button #}
                        <input type="submit" class="de-button outline rounded small reverse animation fadeInUp"
                               value="{{ form.submit.label.text }}" tabindex=90>

                    </form>
                </div>

            </div>
        </div>
    </section>
</section>

{% endblock %}
