{% extends "login_layout.html" %}

{% block title %}Login{% endblock %}

{% block page_content %}
{% from 'macros/form_errors.jinja2' import form_errors as form_errors %}
{% from 'macros/display_flashes.jinja2' import display_flashes as display_flashes %}

<section id="page-content">
    <section class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-3 col-md-6 text-center">
                    <h3 class="animation fadeInUp">Login</h3>

                    <form action="" method="POST" class="form" role="form">
                        {{ form.hidden_tag() }}

                        {# Email field #}
                        <div class="form-group">
                            <label>
                                <div class="input-group {% if form.email.errors %}has-error{% endif %}">
                                    <div class="input-group-addon"><i class="de-icon-mail"></i></div>
                                    {{ form.email(class_='form-control ajax-input', placeholder='Email',
                                    tabindex=110) }}
                                </div>
                            </label>
                            {{ form_errors(form.email) }}
                        </div>

                        {# Password field #}
                        <div class="form-group">
                            <label>
                                <div class="input-group {% if form.password.errors %}has-error{% endif %}">
                                    <div class="input-group-addon"><i class="de-icon-lock"></i></div>
                                    {{ form.password(class_='form-control ajax-input', placeholder='Password',
                                    tabindex=120) }}
                                </div>
                            </label>
                            {{ form_errors(form.password) }}
                        </div>

                        {# Remember me #}
                        <div class="form-group">
                            <div class="ajax-input ajax-checkbox">
                                <div class="checkbox">
                                    <label class="option-label">
                                        {{ login_form.remember_me(class_='option-label', type='checkbox', tabindex=130)
                                        }}
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        {# Submit button #}
                        <input type="submit" class="de-button outline rounded small reverse animation fadeInUp"
                               value="Login" tabindex=180>

                        <div class="forgot-password">
                            <a href="{{ url_for('user.forgot_password') }}" tabindex='195'>
                                Forgot your Password?</a>
                        </div>
                    </form>

                    {{ display_flashes() }}
                </div>

            </div>
        </div>
    </section>
</section>
{% endblock %}
