{% macro footer(message='', image_url='https://unsplash.com/photos/O4irwJUtaOs/download?force=true&w=1920') -%}
    <footer>
        <div class="image-divider fixed-height" style="background-image:url({{ image_url }});"
             data-stellar-background-ratio="0.5">

            <div class="divider-overlay"></div>

            <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
            <div class="alignment">
                <div class="v-align center-middle">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="h1 font-oswald animation fadeInUp">{{ message }}</h4>
                                <div class="heart-divider animation delay-1s fadeInUp">
                                    <i class="de-icon-heart white-heart"></i>
                                    <i class="de-icon-heart pink-heart"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </footer>
{%- endmacro %}
