{% macro image_divider(image_url) -%}
    <section>
        <div class="image-divider fixed-height"
             style="background-image:url({{ image_url }}); background-position:center center"
             data-stellar-background-ratio="0.25">

            <div class="divider-overlay"></div>

        </div>
    </section>
{%- endmacro %}
