{% macro logo() -%}
    <!-- CSS LOGO -->
    <a href="{{ url_for('home') }}">
        <div class="css-logo">

            <strong>F</strong>
            <span class="and-icon">&amp;</span>
            <strong>P</strong>

        </div>
    </a>
    <!-- IMG LOGO
    <a href="index.html.jinja2">
        <div id="img-logo">
            <img src="images/logo.jpg">
        </div>
    </a>
    -->
{%- endmacro %}
