{% extends "main_layout.html.jinja2" %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}
{% block main_title_body %}
    {% import 'macros/main_slider.jinja2' as main_slider %}
    {% call main_slider.main_slider(image_urls=('https://unsplash.com/photos/Q1E2X7WNjjA/download?force=true&w=1920',)) %}

        <div class="col-md-12">

            <div class="heart-divider animation delay-2s fadeInUp">
                <i class="de-icon-heart white-heart"></i>
                <i class="de-icon-heart pink-heart"></i>
            </div>
            <h1 class="font-oswald animation delay-3s fadeInUp">
                FRANZISKA &amp; PATRICK
            </h1>
            <div class="slide-desc animation delay-4s fadeInUp">
                <span id="getting-married-text">{% trans %}We are Getting Married{% endtrans %}</span>
                <span id="dash">&nbsp;-&nbsp;</span>
                <span id="wedding-date">{{ config.WEDDING_DATETIME | format_date }}</span>
            </div>

        </div>
    {% endcall %}
{% endblock %}

{% block main_page_content %}
    {% import 'macros/image_divider.jinja2' as image_divider %}

    <!-- THE STORY -->
    <section id="the-story" class="section-padding">
        <div class="container">

            <!-- TITLE AND BLURB -->
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h2 class="animation fadeInUp">You Are <span class="theme-color">Invited</span></h2>
                    <div class="blurb animation fadeInUp">
                        <p>
                            We couldn't think of any better way to enjoy our wedding than having you attend. We have
                            friends all over the world and we are excited to use this as an opportunity to get
                            everyone in the same place. We hope you can make it. We will be celebrating our wedding
                            in Germany in the hometown of the Rapp family.
                        </p>
                    </div>
                </div>
            </div>
            <!-- END of TITLE AND BLURB -->

            <!-- COUPLE PHOTO -->
            <div class="row image-wrapper">

                <div class="col-md-12">
                    <img src="https://snapewedding.sirv.com/home/fp_in_vineyard.jpg" alt="Couple Photo"
                         class="hover-animation image-zoom-in fullwidth">
                </div>

            </div>
            <!-- END of COUPLE PHOTO -->

            <!-- OTHER BLURB -->
            <div class="row">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <div class="blurb animation fadeInUp" style="margin-top:30px">
                        <p>
                            We've lived all over the world including Vancouver, London, Dresden and Zurich and we can't
                            wait to take the next step in our journey together.
                        </p>
                        <p class="lead no-margin">And soon... <span class="theme-color">We are Getting Married</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END of OTHER BLURB -->

        </div>
    </section>
    <!-- END of THE STORY -->


    <!-- IMAGE DIVIDER -->
    {{ image_divider.image_divider('http://placehold.it/1920x1080') }}
    <!-- END of IMAGE DIVIDER -->


    <!-- COUNTDOWN -->
    <section id="countdown-section" class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 text-center">
                    <h3 class="animation fadeInUp">Join <span class="theme-color">Our Celebration</span></h3>
                    <div class="blurb animation fadeInUp">
                        <p>
                            Our wedding will take place in Germany on {{ config.WEDDING_DATETIME | format_date }} at
                            {{ config.WEDDING_DATETIME | format_datetime(format='HH:mm') }}. This is a bank holiday in
                            the UK and we would love to spend the weekend celebrating with you. We sincerely hope you
                            can make it and share this special day with us.
                        </p>
                    </div>
                    <div id="countdown" class="animation fadeInUp"
                         data-countdown-date="{{ config.WEDDING_DATETIME | format_datetime(format='yyyy-MM-ddTHH:mm:00') }}"></div>
                </div>

            </div>
        </div>
    </section><!-- END of COUNTDOWN -->


    <!-- IMAGE DIVIDER -->
    {{ image_divider.image_divider('http://placehold.it/1920x1080') }}
    <!-- END of IMAGE DIVIDER -->

    <!-- RSVP -->
    <section id="rsvp-section" class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 text-center">
                    <h3 class="animation fadeInUp">Will You <span class="theme-color">Attend?</span></h3>
                    <div class="blurb animation fadeInUp">
                        <p>
                            We hope you can join us for our special day. It will be a fantastic celebration of the
                            joining of our two families and we can't wait to have all of our friends together
                            in one place. Please RSVP by
                            <span class="theme-color">{{ config.RSVP_DEADLINE | format_date }}</span> with your
                            availability.
                        </p>
                    </div>
                    <a href="{{ url_for('rsvp') }}" class="de-button medium outline reverse animation fadeInUp">
                        RSVP
                    </a>
                </div>

            </div>
        </div>
    </section><!-- END of RSVP -->

{% endblock %}

{% block footer_content %}
    {% import 'macros/footer.jinja2' as footer %}
    {{ footer.footer('FRANZISKA & PATRICK') }}
{% endblock %}
