{% extends "login_layout.html" %}

{% block title %}Welcome{% endblock %}

{% block page_content %}
<section id="page-content">
    <section class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 text-center">
                    <h3 class="animation fadeInUp">Join <span class="theme-color"> Our Celebration</span></h3>
                    <div class="blurb animation fadeInUp">
                        <p>Because you have shared in our lives and supported our love, we request the pleasure of
                            your company to join our celebration of love, friendship, laughter, and family, on <span
                                    class="bold400">Saturday, August 19, 2017</span>, 4:30 in the afternoon, at
                            <span class="bold400">Foxegan Pavillion</span>, 204 Moggent Borntio Road, Brooklyn, New
                            York City. Fabulous food, fun, and festivities to follow.</p>
                    </div>
                    <a href="{{ url_for('user.login') }}" class="de-button outline rounded medium reverse animation fadeInUp">
                        Login
                    </a>
                    <a href="{{ url_for('user.register') }}" class="de-button outline rounded medium reverse animation fadeInUp">
                        Guest Code
                    </a>
                </div>

            </div>
        </div>
    </section>
</section>
{% endblock %}
