{% extends "login_layout.html.jinja2" %}

{% block title %}{%trans%}Welcome{%endtrans%}{% endblock %}

{% block page_content %}
<section id="page-content">
    <section class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 text-center">
                    <h3 class="animation fadeInUp">Join <span class="theme-color"> Our Celebration</span></h3>
                    <div class="blurb animation fadeInUp">
                        <p>
                            Because you have shared in our lives and supported our love, we request the pleasure of
                            your company in the celebration of the wedding of
                            <span class="bold400">Franziska</span> and
                            <span class="bold400">Patrick</span>.
                            Please use the Guest Code from your invitation to create a login for our wedding website
                            so that you can RSVP and receive important information about any changes to the wedding.
                        </p>
                    </div>
                    <a href="{{ url_for('user.login') }}" class="de-button outline rounded medium reverse animation fadeInUp">
                        {%trans%}Login{%endtrans%}
                    </a>
                    <a href="{{ url_for('user.register') }}" class="de-button outline rounded medium reverse animation fadeInUp">
                       {%trans%}Guest Code{%endtrans%}
                    </a>
                </div>

            </div>
        </div>
    </section>
</section>
{% endblock %}
