<div id="preloader">
    <div class="alignment">
        <div class="v-align center-middle">

            <div id="heart-on-center" class="spinner-animation"><i class="de-icon-heart"></i></div>

        </div>
    </div>
</div>
