.calendar-container {
    display: flex;
    justify-content: center;
}

.calendar {
    position: relative;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.calendar__picture {
    position: relative;
    height: 75px;
    padding: 20px;
    background-color: #f08080;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
}

.calendar__picture::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.calendar__picture h2 {
    margin: 0 0 0;
    font-size: 32px;
    line-height: 1.1;
}

.calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar__day {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
    font-size: 20px;
}

.calendar__number {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 25px;
    font-size: 16px;
}

.calendar__number--current {
    background-color: #f08080;
    color: #fff !important;
    font-weight: 700;
    border-radius: 50px;
}
